@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(/55/img/background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    display: grid;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

.second{   
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 10px;
    color: white;
}

.coffee img{
    width: 150px;
}

