@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(/54/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #111;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    gap: 50px;
}

.left-column {
    position: relative;
    display: grid;
    width: 50%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
    grid-template: 
    "logo logo"
    "head head"
    "row1 row2"
    "row3 row4"
    ;
    .logo{
        grid-area: logo;
        position: absolute;
        top: -70px;
        left: 37.5%;
    }
    .head{
        grid-area: head;
        margin: 0 auto;
    }
    .row1{
        grid-area: row1;
        margin: 0 auto;
    }
    .row2{
        grid-area: row2;
        margin: 0 auto;
    }
    .row3{
        grid-area: row3;
        margin: 0 auto;
    }
    .row4{
        grid-area: row4;
        margin: 0 auto;
    }
}

.right-column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.destination-info {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.cta-button {
    background: black;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    width: 35%;
}

.destination-info {
    margin-bottom: 20px;
}

.cta-button {
    margin-top: 20px;
}

@media(min-width: 980px){
    .container {
        flex-direction: column;
        height: 100vh;
    }
    .left-column{
        width: 100%;
        height: 50vh;
    }
    .right-column{
        width: 100%;
        height: 50vh;
    }
    .logo{
        left: 50%;
    }
}