* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid red;
}

body {
    font-size: 62.5%;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.title{
    font-size: 2.4rem;
    font-weight: thin;
}

.text {
    color: grey;
    font-size: 1rem;
}
 
.button {
    width: 100px;
    height: 32px;
    color: white;
    font-size: 1.2rem;
    background-color: black;
    border-radius: 8px;
    border: 0px;
}

.image-container {
    display: grid;
    grid-template-columns: minmax(25%, auto);
    gap: 20px;
    width: 100%;
}

.images {
    border-radius: 8px;
    width: 25%;
}

.image1 {
    background-image: url('./images/1.png');
}

