@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.container{
   display: flex;
   width: 100%;
   height: 100%;
}

.column{
   margin: 50px;
   align-self: center;
}

.column.one{
   position: relative;
   width: 33.33%;
   height: 100%;
}

.column.two{
   width: 33.33%;
   height: 100%;
}

.column.three{
   width: 33.33%;
   height: 100%;
}

.image-one{
   background-image: url(/53/img/image.png);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   width: 100%;
   height: 30vh;
}

.image-two{
   background-image: url(/53/img/karol-smoczynski-lcO-m-Exm4I-unsplash.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   width: 100%;
   height: 70vh;
}

.image-three{
   background-image: url(/53/img/walling-2-a9wDBS1KE-unsplash.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   width: 100%;
   height: 70vh;
}

.logo{
   position: absolute;
   right: 0;
}

.head h1{
   font-size: 55px;
   margin: 60px auto;
}

.number{
   font-size: 60px;
}

.information{
   display: flex;
   gap: 20px;
   margin: 30px auto;
}