@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{ 
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

body{
    font-family: 'Poppins';
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    

}
.up{
    background: url(/29/img/unsplash_1XLyzi17Z2M.png);
    background-size: cover ;
    
}
.main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    gap: 3vh;
}
.main-txt h1{
    font-weight: 500;
}
.main-txt p{
    font-size: 0.8em;
}
.boton{
    background-color:#FFFFFF;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
    border-radius: 20px;
    text-decoration: none;
    color: #122A29;
    width: max-content;
    align-self: center;
}
.imgs{
    width: 100%;
    width: 50vw;
    height: 20vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    text-shadow: 1px,1px,4px,rgba(0, 0, 0, 0.856);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5%;
    text-align: center;
}
.img_left{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img_right{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.down{
    position: relative;
    top: -3vh;
}
@media (min-width:950px) {
    .container{
        gap: 0;
    }
    .up{
        width: 100%;
        height: 110vh;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .main-txt{ 
        text-align: left;
        padding: 50px;
        width: 40%;
        gap: 5vh;
    }
    .main-txt h1{
        font-weight: 500;
        font-size: clamp(1em,7vh,4em);
    }
    .main-txt p{
        font-size: 1em;

    }
    .boton{
        align-self: self-start;
        font-size: 1em;
        padding: 10px 40px 10px 40px;
    }
    .down{
        display: flex;
        flex-direction: row;
        position: relative;
        top: -10vh;
    }
    .imgs{
        width: 15vw;
        height: 20vh;
        text-shadow: 1px,1px,4px,rgba(0, 0, 0, 0.856);
        padding:1%;
    }
    .img_left{
        border-top-left-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
    }
    .img_right{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
}