@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

body{
    background-color: #E8D9D6;
    font-family: 'Poppins';
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    text-shadow: 0 5px 20px white;
}
.bobba-png{
    width:20vi;
    
}
.main-txt h1{
    font-size: 4em;
}

.boton{
    background-color:#271908;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    width: max-content;
    align-self: center;
}.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20px;
    background-color: #FFFDFC;
    border-radius: 80px;
    
}
.card-img{
    width: 30vw;
}
.cards h3{
    font-size: 1.6em;
}
.bottom-para{
    font-size: 0.8em;
}
.bobba-img{
    height: 100vh;
}

.bobba{
    position: fixed;
    bottom: 0;
    right: -20vh;
    z-index: -2;
    filter: blur(2px);
}
.title{
    gap: 0;
}
@media (min-width: 650px) {
    .container{
        gap: 20vh;
        padding: 90px;
    }
    .bottom{
        flex-direction: row;
    }
    .bobba-png{
        width: 7vi;
        position: absolute;
        top: -11vh;
        left: 3vw;
    }
    .card-img{
        width: 8vw;
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 25%;
        gap:2vw;
        background-color: #FFFDFC;
        border-radius: 80px;
        
        
    }
    .bottom{
        justify-content: space-between;
    }.boton{
        align-self: self-start;
        font-size: 1.3em;
    }
    .up{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        
    }
    
    .main-txt{
       
        text-align: left;
        position: relative;
    }
    .main-txt h1{
        font-size: 6em;
    }
    .main-txt p{
        width: 40%;
        font-size: 1.3em;
    }
    .bobba{
        
        filter: blur(0px);
    }
    .bottom-txt{
        font-size: clamp(0.2em,2vw,1em);
    }
    
}
